<%-include('home')-%>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <form action="/api/users" method="get">
                <button class="btn btn-lg btn-primary" type="submit">See all users</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>